adbutils==2.1.0
apkutils2==1.0.0
cached-property==1.5.2
certifi==2023.11.17
charset-normalizer==3.3.2
cigam==0.0.3
colorama==0.4.6
decorator==5.1.1
Deprecated==1.2.14
deprecation==2.1.0
facebook-wda==1.4.6
filelock==3.13.1
greenlet==3.0.3
idna==3.6
logzero==1.7.0
lxml==5.0.1
packaging==23.2
pillow==10.2.0
progress==1.6
psycopg2==2.9.9
pure-python-adb==0.3.0.dev0
py==1.11.0
pyelftools==0.30
pywin32==306
requests==2.31.0
retry==0.9.2
six==1.16.0
SQLAlchemy==2.0.25
tornado==6.4
typing_extensions==4.9.0
uiautomator2==2.16.25
urllib3==2.1.0
-e git+https://github.com/alibaba/web-editor.git@fd7bd4da6c3e954987f36182899064ce6d65c902#egg=weditor
whichcraft==0.6.1
wrapt==1.16.0
xmltodict==0.13.0